<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-app="tryOut">
    <select ng-model="select">
      <option value="username">Trier par Nom</option>
      <option value="content">Trier par Contenu</option>
    </select>
    <input type="text" ng-model="filtre"/>

    <div ng-controller="CommentsCtrl">
    <!-- <div ng-init="comments=[
     {username:'Jackie', content:'Salut toi!'},
     {username:'Michel', content:'Comment ca va?'},
     {username:'Marielle', content:'Bonjour.'},
     {username:'Kilian', content:'SUM 41!!'},
     {username:'Lois', content:'Mac c\'est la vie'},
     {username:'Amélie', content:'ELDER ELDER ELDER!'},
     {username:'Mathilde', content:'Salut je m\'appel Mathilde'},
     {username:'Théo', content:'En retard en retard comme cette *** de lapin blanc'},
     {username:'Philippe', content:'Logiciels libre'},
     {username:'Thomas', content:'Jean est marre!'},
     {username:'Brahim', content:'Cassez vous!!!'},
     {username:'John', content:'My name is Doe, John Doe'}
     ]"> -->
        <div ng-repeat="comment in comments | filter : {content:filtre} | orderBy:select">
          <p>
            <strong>{{comment.username}}</strong> - {{comment.content}}
          </p>
        </div>
    </div>
  </body>
</html>
